/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/* Global Styles */
:root {
    --color1:#398ad5;
}
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    min-height: 100%;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Arial, Helvetica, sans-serif;
    background: #a4e8f1;
    color: black;
    line-height: 1;
    font-size: 0.875rem;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
}

h1,
h2 {
    margin: 0;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.headingContainer {
    display: flex;
    justify-content: space-around;
}
.mainHeading {
    display: flex;
    align-items: center;
    font-size: 3rem;
    padding: 0.3em 2em;
}


.btnAdd {
    padding: 1rem;
    font-size: 1.5em;
    background-color: rgb(136, 216, 17);
    border-radius: 1em;
}
.formContainer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 5rem;
    position: relative;
    border-radius: 8px;
    background: #398ad5;
    box-shadow:  20px 20px 60px #265b8d,
                -20px -20px 60px #4cb9ff;
}

.formPopup {
    display: flex;
    position: absolute;
    align-self: center;
    max-width: 25em;
    margin: 2rem;
}
.input {
    size: 1rem;
    margin: 1rem;
    padding: 1rem;
}
label,
input {
    font-size: 1rem;

}
input[type=checkbox] {
    transform: scale(1.5);
}

.btnSubmit {
    display: flex;
    align-self: center;
    padding: 1rem;
    font-size: 1.5em;
    max-width: 15rem;
    border: none;
    color: white;
    border-radius: 10px;
    background: #35c2e8;
    box-shadow:  10px 10px 19px #2da3c3,
                 -10px -10px 19px #3de1ff;
}
.btnSubmit:hover {
    background-color: var(--color1);
}
.btnSubmit:active {
    background-color: turquoise;
}

/* display cards */
.displayCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
    margin-top: 2rem;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20rem;
    height: 20rem;
    padding: 2rem;
    line-height: 2em;
    word-wrap: break-word;
    border-radius: 5px;
    background: #a4e8f1;
    box-shadow:  20px 20px 60px #8bc5cd,
                -20px -20px 60px #bdffff;
    
}

.Read {
    padding: 1rem;
    font-size: 1.2rem;
    margin-top: 1em;
    border-radius: 10px;
    background: #8ac9a2;
}
.Not-Read{
    padding: 1rem;
    font-size: 1.2rem;
    margin-top: 1em;
    border-radius: 10px;
    background: rgb(235, 156, 156)
}

.btnRemove {
    padding: 1rem;
    font-size: 1.2rem;
    margin-top: 1em;
    border-radius: 10px;
    background: #ef2929;
}



.footer {
    display: flex;
    align-self: center;
    bottom: 0%;
    position: fixed;
    padding: 0.5rem;
    font-size: 1em;
    font-weight: bold;
}

/* Media Queries */
@media (max-width: 1200px) {
    .displayCards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .displayCards {
        grid-template-columns: repeat(1, 1fr);
    }
    .headingContainer {
        flex-wrap: wrap;
    }
}